@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  background: #666;
}

.content {
  width: 100vw;
  height: 100vh;
  vertical-align: center;
}

input,
button,
#out {
  min-width: 75vw;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 4em;
}

input{
  background: #fff5;
  outline: none;
  border: none;
}

#in-out{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

